<ion-view view-title="Propiedades">    
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-repeat="propiedad in propiedades" href="#/app/propiedades/{{propiedad.Propiedad.id}}">
                <img ng-src="http://maps.google.com/maps/api/staticmap?center={{propiedad.Propiedad.prop_geo}}&zoom=16&size=80x80&maptype=roadmap&markers={{propiedad.Propiedad.prop_geo}}&sensor=false">
                <h2>{{propiedad.Propiedad.prop_direccion}}</h2>
                {{propiedad.Propiedad.prop_nro_parcela}}
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="removePropiedad(propiedad.Propiedad.id)">
                    Eliminar
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
