<ion-view view-title="Propiedades">    
    <ion-content>
        <ion-refresher pulling-text="Actualizar" on-refresh="actualizarPropiedades();"></ion-refresher>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" on-hold="mostrarMenuContextualPropiedad();" ng-repeat="propiedad in propiedades" ng-click="irAPropiedad(propiedad.Propiedad.id)" ng-href="#">
                <img ng-src="http://maps.google.com/maps/api/staticmap?center={{propiedad.Propiedad.prop_geo}}&zoom=16&size=80x80&maptype=roadmap&markers={{propiedad.Propiedad.prop_geo}}&sensor=false">
                <h2>{{propiedad.Propiedad.prop_direccion}}</h2>
                {{propiedad.Propiedad.prop_nro_parcela}}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
