<ion-view view-title="Proveedores">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-plus-empty" ng-click="mostrarDialogoNuevoProveedor()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="bar bar-header item-input-inset">
            <ion-search placeholder="Buscar proveedor" filter="search"></ion-search>
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-repeat="proveedor in proveedores | filter:search.value" ng-click="irAProveedor(proveedor.Proveedor.id)" ng-href="#">
                <h2>{{proveedor.Proveedor.razon_social}}</h2>
                {{proveedor.Proveedor.email}}
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="removerProveedor(proveedor.P.id)">
                    Eliminar
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
