<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Login Tab -->
    <ion-tab title="Login" icon-off="ion-log-in" icon-on="ion-log-in" href="#/app/login" class="{{(currentUser() ? hideClass : showClass)}}">
        <ion-nav-view name="tab-login"></ion-nav-view>
    </ion-tab>
    <!-- Propiedades Tab -->
    <ion-tab title="Propiedades" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/propiedades" class="{{(currentUser() ? showClass : hideClass)}}">
        <ion-nav-view name="tab-propiedades"></ion-nav-view>
    </ion-tab>
    <!-- Proveedores Tab -->
    <ion-tab title="Proveedores" icon-off="ion-ios-briefcase-outline" icon-on="ion-ios-briefcase" href="#/app/proveedores" class="{{(currentUser() ? showClass : hideClass)}}">
        <ion-nav-view name="tab-proveedores"></ion-nav-view>
    </ion-tab>
    <!-- Mapa de Propiedades -->
    <ion-tab title="Mapa" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/app/mapa" class="{{(currentUser() ? showClass : hideClass)}}">
        <ion-nav-view name="tab-mapa"></ion-nav-view>
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="Mensajes" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/mensajes" class="{{(currentUser() ? showClass : hideClass)}}">
        <ion-nav-view name="tab-mensajes"></ion-nav-view>
    </ion-tab>
</ion-tabs>