<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Nuevo Proveedor</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeNewProveedor()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="addProveedor()">
            <div class="list list-inset">          
                <label class="item item-input">
                    <i class="icon ion-ios-person placeholder-icon"></i>
                    <input type="text" placeholder="Razón Social" ng-model="nuevoProveedorData.razon_social">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-email placeholder-icon"></i>
                    <input type="email" placeholder="Email" ng-model="nuevoProveedorData.email">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-telephone placeholder-icon"></i>
                    <input type="tel" placeholder="Teléfono" ng-model="nuevoProveedorData.telefono">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-home placeholder-icon"></i>
                    <input type="text" placeholder="Domicilio" ng-model="nuevoProveedorData.domicilio">
                </label>
                <label class="item">
                    <button type="submit" class="button button-full icon-right ion-ios-plus-outline button-balanced">Grabar</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
