<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Nuevo Gasto</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-ios-close-empty" ng-click="cerrarDialogoNuevoGasto()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="agregarGasto()">
            <div class="list">
                <label class="item item-input item-select">
                    <span class="input-label">Proveedor</span>
                    <select ng-model="nuevoGastoData.proveedor_id">
                        <option ng-repeat="proveedor in proveedores" value="{{proveedor.Proveedor.id}}">{{proveedor.Proveedor.razon_social}}</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Fecha</span>
                    <input type="text" ng-model="nuevoGastoData.fecha">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Referencia</span>
                    <select ng-model="nuevoGastoData.referencia">
                        <option value=""></option>
                        <option value="Agua">Agua</option>
                        <option value="Antecedentes Propiedad">Antecedentes Propiedad</option>
                        <option value="Asociación">Asociación</option>
                        <option value="Cloaca">Cloaca</option>
                        <option value="Club">Club</option>
                        <option value="Electrodoméstico">Electrodomésticos</option>
                        <option value="Expensas">Expensas</option>
                        <option value="Honorarios">Honorarios</option>
                        <option value="Luz">Luz</option>
                        <option value="Materiales">Materiales</option>
                        <option value="Otro">Otro</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Vencimiento?</span>
                    <select ng-model="nuevoGastoData.vencimiento">
                        <option value=""></option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Periodicidad</span>
                    <select ng-model="nuevoGasto.periodicidad">
                        <option value=""></option>
                        <option value="1">Mensual</option>
                        <option value="2">Bimestral</option>
                        <option value="3">Trimestral</option>
                        <option value="4">Cuatrimestral</option>
                        <option value="6">Semestral</option>
                        <option value="12">Anual</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Monto</span>
                    <input type="text" ng-model="nuevoGastoData.monto">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Grabar</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
