/* Montos */
.monto-rojo {
    color: #e42012;
}
.monto-verde {
    color: #33cd5f;
}
/* Mapa */
map {
    width: 100%;
    height: 100% !important;
}
.scroll, .mapWrap {
    height: 100%;
}
/* Múltiples íconos en un mismo item de una ion-list */
.item-icon-right .second {
    right:40px !important;
}
.item-icon-right .first {
    right:70px !important;
}
.item-icon-left .second {
    left:40px !important;
}
.item-icon-left .first {
    left:70px !important;
}